[user]
  email = martin.accou@physicsx.ai
  name = Martin Accou
[alias]
	ac = commit -am
	last = log -1 HEAD --stat
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	show-tags = "log --tags --no-walk --pretty='%h %d %s' --decorate"
  fe = "fetch origin '+refs/heads/*:refs/remotes/origin/*'"
  clone-for-worktrees = "!git-clone-bare-for-worktrees.sh"
  search-history = "!git-search-history.sh"
  pub-merge-gh = "!git publish && gh pr create --fill && gh pr merge --auto --squash --delete-branch"
  publish = "!git push --set-upstream origin $(git branch --show-current)"
  clean-branches = "!git branch -d $(git branch --merged=main | grep -v main)"
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[pull]
	rebase = true
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = diff3
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	sslVerify = false
[checkout]
	defaultRemote = origin
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
[includeIf "gitdir:~/**"]
    path = "~/.config/git/local.config"
[includeIf "gitdir:~/perso/"]
    path = "~/.config/git/perso.config"
[includeIf "gitdir:~/work/"]
    path = "~/.config/git/work.config"
