[user] email = martin.accou@icloud.com
	name = Martin Accou
[alias]
	ac = commit -am
	last = log -1 HEAD --stat
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[pull]
	rebase = true
[init]
	defaultBranch = main
