[user] 
	email = martin.accou@icloud.com
	name = Martin Accou
[alias]
	ac = commit -am
	last = log -1 HEAD --stat
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	clean-branches = "!git branch | grep -v 'develop' | grep -v 'master' | grep -v 'main' | xargs git branch -D"
	show-tags = "log --tags --no-walk --pretty='%h %d %s' --decorate"
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[pull]
	rebase = true
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = diff3
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	sslVerify = false
[checkout]
	defaultRemote = origin
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true