[Desktop Entry]
Name=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=alacritty
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
Terminal=false
